DATABASE_URI=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE
VERCEL_OIDC_TOKEN="your_vercel_oidc_token_here"
BLOB_READ_WRITE_TOKEN="your_blob_read_write_token_here"
CMS_READ_TOKEN="super-long-random-string"
PAYLOAD_PUBLIC_URL=the-cms-url-goes-here